<details id="all-time-hall-of-fame">
    <summary>All-time leaderboard ⏷</summary>
    {% if total_games_count > 0 %}
        <ins>You played <b>{{ total_games_count }}</b> games since {{ first_game_date|date:"F Y" }}.</ins>
    {% endif %}
    <br>
    <table>
        <thead>
            <tr>
                <th>player</th>
                <th>wins</th>
                <th>total points</th>
                {% if bonus_per_round > 0 %}<th>grand total</th>{% endif %}
                <th>delta</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in hall_of_fame %}
                <tr>
                    <td>
                        <span class="player-{{ entry.player.id }}">
                            {{ entry.player.name }}
                        </span>
                        {% if forloop.first %}🏆{% endif %}
                    </td>
                    <td>
                        {{ entry.wins_count }}
                        <br><small>({{ entry.wins_percentage }}%)</small>
                    </td>
                    <td>{{ entry.total_score }}</td>
                    {% if bonus_per_round > 0 %}<td>{{ entry.grand_total }}</td>{% endif %}
                    <td>{{ entry.grand_total_delta|default_if_none:"-" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</details>
