{% extends "scoreboard/_layout.html" %}

{% load scoreboard %}

{% block extrahead %}
    <style>
        /* In-document CSS! ~Dance~ Code like no one's watching 😅 */
        .player-1, .player-2 {
            font-weight: bold;
        }

        .player-1 {
            color: {{ players.0.color }};
        }

        .player-2 {
            color: {{ players.1.color }};
        }

        article table th {
            color: var(--pico-primary);
        }

        #new-game-form-outcome div {
            display: flex;
            flex-wrap: wrap;
        }

        #new-game-form-outcome div label {
            min-width: 30%
        }
    </style>
{% endblock extrahead %}

{% block content %}
    <article id="new-game-form">
        <header>Record new game</header>
        <form action="{% url "scoreboard:index" %}" method="post">
            {% csrf_token %}

            <fieldset id="new-game-form-outcome">
                <legend>Outcome</legend>
                <div>
                    {% get_possible_outcomes as possible_outcomes %}
                    {% for outcome in possible_outcomes %}
                        <label>
                            <input type="radio" name="outcome" required
                                   value="{{ outcome.value }}"
                                   {% if form.cleaned_data.outcome == outcome %}checked{% endif %}
                            >
                            {{ outcome.label }}
                        </label>
                    {% endfor %}
                </div>
            </fieldset>

            <fieldset>
                <legend>Winner</legend>
                {% for player in players %}
                    <label>
                        <input type="radio" name="winner"
                               value="{{ player.id }}" aria-describedby="winner-helper"
                               {% if form.cleaned_data.winner == player.id %}checked{% endif %}
                               {% if form.winner.errors %}aria-invalid="true"{% endif %}
                        >
                        <span class="player-{{ player.id }}">{{ player.name }}</span>
                    </label>
                {% endfor %}
                <ins id="winner-helper">
                    <small>
                        {% if form.winner.errors %}
                            <span class="form-errors">{{ form.winner.errors }}</span>
                        {% else %}
                            Leave blank if the game was a draw.
                        {% endif %}
                    </small>
                </ins>
            </fieldset>

            <fieldset>
                <legend>Deadwood</legend>
                <label>
                    <input type="number" name="deadwood"
                           min="0" max="100" step="1"
                           aria-describedby="deadwood-helper"
                           value="{{ form.deadwood.value|default_if_none:"" }}"
                           {% if form.deadwood.errors %}aria-invalid="true"{% endif %}
                    >
                    <ins id="deadwood-helper">
                        <small>
                            {% if form.deadwood.errors %}
                                <span
                                    class="form-errors">{{ form.deadwood.errors }}</span>
                            {% else %}
                                Leave blank if the game was a draw.
                            {% endif %}
                        </small>
                    </ins>
                </label>
            </fieldset>

            <button
                type="submit"
            >
                {# Heroicon: plus-circle #}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 19px; aspect-ratio: 1/1;">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                Record game
            </button>
        </form>
    </article>

    <hr>

    <article id="all-time-hall-of-fame">
        <header>All-time leaderboard</header>
        <table>
            <thead>
                <tr>
                    <th>player</th>
                    <th>wins</th>
                    <th>total points</th>
                    <th>grand total</th>
                    <th>delta</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in hall_of_fame %}
                    <tr>
                        <td><span
                            class="player-{{ entry.winner.id }}">{{ entry.winner.name }}</span>
                        </td>
                        <td>
                            {{ entry.wins_count }}
                            <br><small>({{ entry.wins_percentage }}%)</small>
                        </td>
                        <td>{{ entry.total_score }}</td>
                        <td>{{ entry.grand_total }}</td>
                        <td>{{ entry.score_delta|default_if_none:"-" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>

    <hr>

    <article id="monthly-hall-of-fame">
        <header>Monthly leaderboard</header>
        <table>
            <thead>
                <tr>
                    <th>month</th>
                    <th>winner</th>
                    <th>wins</th>
                    <th>delta</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in hall_of_fame_monthly %}
                    <tr>
                        <td>
                            {{ entry.month|date:"M Y" }}
                            <br><b>{{ entry.game_counts }}</b> games
                        </td>
                        <td>
                            <span class="player-{{ entry.winner.id }}">
                                {{ entry.winner.name }}
                            </span>
                        </td>
                        <td>
                            {% if entry.wins_percentage >= 80 %}
                                <b>{{ entry.wins_percentage }}%</b>
                                {% if entry.wins_percentage == 100 %}😱{% endif %}
                            {% else %}
                                {{ entry.wins_percentage }}%
                            {% endif %}
                            <br><small>({{ entry.wins_count }} wins)</small>
                        </td>
                        <td>
                            {{ entry.score_delta }}
                            {% if entry.score_delta < 10 %}😱{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>

    <hr>

    <article id="last-games">
        <header>Last games</header>
        <table>
            <thead>
                <tr>
                    <th>date</th>
                    <th>outcome</th>
                    <th>winner</th>
                    <th>score</th>
                </tr>
            </thead>
            <tbody>
                {% for result in last_game_results %}
                    <tr>
                        <td>{{ result.created_at|date:"D jS M H:i" }}</td>
                        <td>
                            {{ result.get_outcome_display }}
                            {% if result.deadwood %}
                                <br>
                                <small>deadwood:&nbsp;{{ result.deadwood }}</small>
                            {% endif %}
                        </td>
                        <td>
                            <span class="player-{{ result.winner }}">
                                {{ result.winner_name|default_if_none:"-" }}
                            </span>
                        </td>
                        <td>
                            {% if result.winner_score > 20 %}
                                <b>{{ result.winner_score }}</b>
                            {% else %}
                                {{ result.winner_score }}
                                {% if result.winner_score < 4 %}😱{% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>

    <br>
    <hr>
    <form action="{% url "scoreboard:log_out" %}" method="post">
        {% csrf_token %}
        <button id="log-out-button" type="submit">
            {# Heroicon: arrow-left-start-on-rectangle #}
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 19px; aspect-ratio: 1/1;">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
            </svg>
            Log out
        </button>
    </form>
    <br>
    <br>
{% endblock %}
