<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gin Rummy hall of fame</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <style>
        section {
            margin-bottom: 3em;
        }
        
        #content-container {
            padding: 3rem 0.3rem;
        }
        
        .north-player-color {
            color: orange;
        }
        .south-player-color {
            color: #336699;
        }
    </style>
    {% block extrahead %}
    {% endblock %}
</head>
<body>
    <section class="section" id="content-container">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </section>
</body>
</html>
